<!DOCTYPE html>
{% load static %}
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
    content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}?after">
</head>
<body>
    <div class="container">
        <div class="header">
            <h1><a href="#">USGajo</a></h1>
            <div class="nav">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">login</a></li>
                    <li><a href="#">Purdue</a></li>
                    <li><a href="#">USS</a></li>
                </ul>
            </div>
        </div>
        <div class="hero">
            <h2>K-SQUARE DIARY</h2>
            <p>4공주의 미국 탐방기</p>
            <button type="button" onclick=location.href="{% url 'home' %}"> k-sw 소개 보러가기</button>
        </div>
    </div>
</body>
</html>